.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  //height: 100%;
  overflow-y: scroll;
  background-color:#606972 ;
}

.content{
  flex-grow: 1;
  width: 100%;
}