.btn{
  width: 70px;
  padding: 5px 10px;
  border: 2px solid #9ba4ab;
  background-color: #2c3b49;
  margin-bottom: 10px;
  border-radius: 5px;
  color :white;
  font-weight: 900;
  cursor: pointer;
}