.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  background-color: #9ba4ab;
  border: 2px solid #2d3b48;
  border-radius:5px;
  color: #2d3b48;
}